[*]
indent_style = tab

[*.{json,sln,.csproj,ps1}]
indent_size = 2

[*.{cs,sql}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

[*.{cs}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = always:warning

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning